*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
body{
	height: 100%;
	background-color: rgb(219, 199, 15);
	font-family: 'Michroma', sans-serif;
	font-size: 4em;
}
.counter{
	margin: 20px 20px;
	padding: 35px;
	color: #fff;
	
}
.wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	width: min-300px;
	height: 200px;
	margin: 0 auto;
	background-color: rgb(201, 207, 130);
	padding: 20px;
}